html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
}

#sidebar {
  flex: 0 1 300px;
  background-color: #eceff1;
  color: #263238;
  transition: width 0.3s ease-in-out; /* Add transition for smooth width change */
}

.logo-container {
  display: flex;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #cfd8dc;
}

.logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 15px;
  cursor: pointer;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 50px;
  line-height: 50px;
}

.text {
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
  font-family: sans-serif;
  color: #34515e;
}

#sidebar li {
  padding: 3px;
}

#sidebar li a {
  text-decoration: none;
  color: #263238;
  font-size: 15px;
  font-family: sans-serif;
  background-color: none;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

#sidebar li a:hover {
  color: #999999;
  background-color: #eee; /* slightly lighter color on hover */
}

#sidebar li a.active {
  background-color: #d32f2f;
}

#content {
  flex: 1;
  background-color: #fff;
  border-bottom: 5px dashed grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tests {
  list-style-type: none;
  padding-left: 0;
}

.description {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
  color: #cfcfcf;
  border-bottom: 1px solid #cfd8dc;
  font-size: 15px;
  font-family: sans-serif;
}

.explanation {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 150px;
  padding: 20px 20px;
  background-color: white;
  justify-content: flex-start;
  color: #263238;
}

.starting {
  display: flex;
  width: 150px;
  height: 40px;
  padding: 0px 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  background-color: #d32f2f;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.cancelling {
  display: flex;
  width: 150px;
  height: 40px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #707070;
  border-radius: 6px;
  border: 1 px solid #707070;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 20px;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  #sidebar {
    width: 100%;
    min-height: auto;
    flex: none;
  }
  #content {
    width: 100%;
    min-height: auto;
    flex: none;
  }
  .logo-icon {
    display: none;
  }
}
